apiVersion: apps/v1
kind: Deployment
metadata:
  name: webapp-deployment
spec:
  replicas: 1
  selector:
    matchLabels:
      app: webapp
  template:
    metadata:
      labels:
        app: webapp
    spec:
      containers:
      - name: webapp
        image: ashraff968/web-app-ci-cd:latest
        ports:
        - containerPort: 80
        imagePullPolicy: Always
      # Si ton image Docker est privée, décommente cette ligne et crée le secret
      # imagePullSecrets:
      #   - name: dockerhub-secret
